<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
    {{- partial "head.html" . -}}
    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>
        
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
    </body>
</html>
