:root {
    --rgb-black: 0, 0, 0;
    --rgb-white: 255, 255, 255;
    --rgb-grey-light: 210, 216, 222;
    --color-black: rgb(var(--rgb-black));
    --color-white: rgb(var(--rgb-white));
    --color-grey-light: rgb(var(--rgb-grey-light));
    --font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --font-size: calc(0.95em + 1vw);    
    --font-size-small: 80%;
    --font-size-x-small: 60%;
    --line-height: calc(1.3em + 0.1vw);
    --spacing: 0.75em;
    --transition: 0.2s cubic-bezier(0.37, 1, 0.74, 1)
}

html {
    background: var(--color-black);
    font-size: 16px;
}

body {
    background: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    overflow-x: hidden;
    margin: 0.5em var(--spacing) 4.5em var(--spacing);
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
    :root {
        --font-size: min(calc(1em + 1vw), 36px);        
        --line-height: 1.3em
    }
    main {
        max-width: 50ch;
    }
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-white);
    font-weight: 700
}

a {
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: underline;
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.09em
}

em,i {
    font-style: italic
}

strong,b {
    color: var(--color-white);
    font-weight: 700
}

.active-lang {
    font-weight: bold;
}

header a:not(.active-lang) {
    font-weight: normal;
}

header a {
    font-size: var(--font-size-small)
}